body{
    background-image: url(/imgs/musicbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: clip;
}
.header{
    color: white;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
    -webkit-text-stroke: 1px purple;
    gap: 0;
}
.header h1 {
    color: white;
    font-family: "Josefin Sans", sans-serif;
    -webkit-text-stroke: 1px purple;
    margin: 5vh;
}

.header h2 {
    color: white;
    font-family: "Josefin Sans", sans-serif;
    margin: 5vh;

}
.student{
    margin: 0;
    line-height: 50px;
}
.links ul{
    list-style-type: none;
    font-size: 3vw;
    display: flex;
    justify-content: center;
    font-family: "Josefin Sans", sans-serif;
    flex-wrap: nowrap;
    height: 2vh;
    margin-left: -5vw;
    gap: -20vw;
}

.links a {
    text-decoration: none;
    color: white;
    padding: 1vw 2vw;
    transition: background-color 0.6s ease;
    font-size: 3vh;
    box-sizing: border-box;
    border: 2px solid transparent;
}

.links a:hover {
    background-color: white;
    color: black;
    font-size: 3vh;
    padding: 1vw 2vw;
}
@media (max-width: 1280px){
    .header h1{
        font-size: 50px;
    }
    .header h2{
        font-size: 30px;
    }
}
.music{
    color: white;
    font-family: "Josefin Sans", sans-serif;
    
}
.welcome{
    text-align: left;
    margin-left: 242px;
    margin-top: 60px;
}
.imagelink{
    justify-content: space-evenly;
    height: 300px;
    width: 300px;
    max-height: 300px;
    max-width: 300px;
    margin-left: 242px;
}
.musicdiv{
    margin-top: 100px;
    justify-content: space-evenly;
}

.track1{
    height: 100px;
    width: 600px;
}
a{
    text-decoration: none;
}
.vc{
    margin-left: 310px;
}
.vc2{
    margin-left: 850px;
    width: 1080px;
    height: 200px;
    margin-top: -45px
}
.vc3{
    margin-left: 1440px;
    width: 10px;
    height: 200px;
    margin-top: -220px
}
.vc4{
    margin-left: 290px;
}
.vc5{
    margin-left: 825px;
    width: 1080px;
    height: 200px;
    margin-top: -45px
}
.vc6{
    margin-left: 1425px;
    width: 10px;
    height: 200px;
    margin-top: -220px
}
.vc7{
    margin-left: 320px;
}
.vc8{
    margin-left: 835px;
    width: 1080px;
    height: 200px;
    margin-top: -45px
}
.vc9{
    margin-left: 1425px;
    width: 10px;
    height: 200px;
    margin-top: -220px
}
@media (max-width: 1280px) {
    .imagelink {
        width: 200px;
        height: 200px;
    }

    .vc, .vc2, .vc3, .vc4, .vc5, .vc6, .vc7, .vc8, .vc9 {
        font-size: 16px; 
        
    }
    
    .welcome{
    text-align: left;
    margin-left: 138px;
    margin-top: 60px;
}
    .musicdiv a{
        margin-left: -100px;
        justify-content: space-evenly;
    }
    
    .links ul{
        margin-left: 1px;
        font-size: 30px;
    }
    
    .welcome{
        font-size: 25px;
    }
    
    .vc{
    margin-left: 190px;
}
    .vc2{
        margin-left: 525px;
        margin-top: -30px;
        width: 1080px;
        height: 200px;
    }
    .vc3{
        margin-left: 907px;
        width: 10px;
        height: 200px;
        margin-top: -215px
    }
    .vc4{
    margin-left: 180px;
}
.vc5{
    margin-left: 515px;
    width: 1080px;
    height: 200px;
    margin-top: -30px
}
.vc6{
    margin-left: 890px;
    width: 10px;
    height: 200px;
    margin-top: -213px
}
.vc7{
    margin-left: 190px;
}
.vc8{
    margin-left: 525px;
    width: 1080px;
    height: 200px;
    margin-top: -30px
}
.vc9{
    margin-left: 890px;
    width: 10px;
    height: 200px;
    margin-top: -220px;
    }
    .musicdiv{
    margin-top: -20px;
}
    .welcome{
        margin-bottom: 70px;
    }
}
.text1{
    text-align: center;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-size: 40px;
}
.text2{
    color: white;
    font-family: "Jesefin Sans", sans-serif;
    font-size: 20px;
    margin-left: 145px;
    margin-right: 215px;
    text-align: center;
}
.text3{
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: "Jesefin Sans", sans-serif;
    margin-top: 100px;
}
.artimg{
    height: 300px;
    width: 300px;
}
.artlist{
    list-style-type: none;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
}
.artists{
    margin-top: 70px;
    margin-bottom: 50px;
}
