body{
    background-image: url("../../imgs/Layer_2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    height: 100vh;
}
@font-face {
    font-family: "Qetod";
    src: url("../../fonts/Qetod.ttf") format("woff2"),
    url("../../fonts/Qetod.ttf") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "DeathNote";
    src: url("../../fonts/DeathNote.ttf") format("truetype");
url("../fonts/Deathnote.tff") format ("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "NIGHTMARE PILLS";
    src: url("../../fonts/NightmarePills-BV2w.ttf") format("truetype");
url("../fonts/NightmarePills-BV2w.tff") format ("woff");
    font-weight: normal;
    font-style: normal;
}
pre{
    text-align: center;
    font-family: "DeathNote", sans-serif;
    color: deeppink;
    font-size: clamp(1rem, 4vw, 5em);
    margin-left: 20px;
    margin-right: 20px;
}
.close-button {
    position: fixed;
    top: 10px;
    left: 10px;
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 5px;
    transition: color 0.3s ease;
}

.close-button:hover {
    color: red;
}
.girls{
    text-align: center;
    font-family: "Qetod", sans-serif;
    color: deeppink;
    font-size: clamp(5em, 5em, 7em);
}